.car-block {
    border: 1px solid red;
}

.container {
    border: 1px solid blue;
    max-width: 500px;
    width: 50%;
    margin: 10px auto ;
    padding: 10px;
    border-radius: 5px;
}

input {
    display: block;
    margin: auto;
}

button {
    margin: 10px auto;
    display: block;
}