:root {
    --black: #0f0e17;
    --orange: #ff8906;
    --white: #fffffe;
    --lightgray: #a7a9be;
    --red: #f25f4c;
    --pink: #e53170; 
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--black);
    color: var(--lightgray);
}

